* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    max-width: 100%;
}
/*

:root{
    --columns: 16;
    --size: 35px;
    --rows: 16;
}

.grid {
    display: grid;
    justify-content:center;
    align-items: center;
    grid-template-columns: repeat(var(--columns), var(--size));
    grid-template-rows: repeat(var(--rows), var(--size));
    width: 600px;
    height: auto;
    border: black;
}

.grid-item {
    align-self: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

input {
    border: black;
}

*/
